* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Bruno Ace SC', cursive;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("/images/oceanwaves.png");
    background-color: lightskyblue;
    background-size: cover;
}

header {
    margin: 0 0 2vmin 0;
    padding-left: 1vmin;
    padding-right: 1vmin;
    font-size: 4vmin;
    background: lightskyblue;
}

#msg {
    text-align: center;
    font-size: 3vmin;
}


#ai-board {
    display: grid;
    grid-template-columns: repeat(10, 4vmin);
    grid-template-rows: repeat(10, 4vmin);
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    background-color: black;
    padding: 1px;
    margin: 0;
}

#ai-board > div {
    background-color: lightskyblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 5vmin;
    
}

#ai-board > div:hover {
    background-color: lightblue !important;
}


#player-board {
    display: grid;
    grid-template-columns: repeat(10, 3vmin);
    grid-template-rows: repeat(10, 3vmin);
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    background-color: black;
    padding: 1px;
    margin: 0;
}

#player-board > div {
    background: lightskyblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 10vmin;   
}

#player-board > div:hover {
    background: lightblue;
}


button {
    margin-top: 1vmin;
    padding: 2vmin;
    font-size: 2vmin;
    border-radius: 2vmin;
    color: black;
}

button:hover {
    color: white !important;
    background-color: blue;
}

#hard-mode:hover {
    background-color: red;
}


.triangle-up {
    background-color: lightskyblue !important;
}
.triangle-up::before {
    content: "";
}
.triangle-up::after {
    content: "";
    background-color: #42423f;
    clip-path: polygon(50% 0, 100% 100%, 0 100%);
    width: 3vmin;
    height: 3vmin;
    box-shadow: 0 1px 0 0 #42423f;
}


.triangle-down {
    background-color: lightskyblue !important;
}
.triangle-down::before {
    content: "";
}
.triangle-down::after {
    content: "";
    background-color: #42423f;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    width: 3vmin;
    height: 3vmin;
    box-shadow: 1px 0 0 0 #42423f;
}


.triangle-left {
    background-color: lightskyblue !important;
}
.triangle-left::before {
    content: "";
}
.triangle-left::after {
    content: "";
    background-color: #42423f;
    clip-path: polygon(0 50%, 100% 0, 100% 100%);
    width: 3vmin;
    height: 3vmin;
    box-shadow: 0 0 0 1px #42423f;
}


.triangle-right {
    background-color: lightskyblue !important;
}
.triangle-right::before {
    content: "";
}
.triangle-right::after {
    content: "";
    background-color: #42423f;
    clip-path: polygon(0 0, 0 100%, 100% 50%);
    width: 3vmin;
    height: 3vmin;
    box-shadow: 0 0 1px 0 #42423f;
}