* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    /* margin: ; */
    /* font-family: */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightskyblue;
}

header {
    margin: -5vh 0 3vh 0;
    font-size: 4vmin;
}

#msg {
    text-align: center;
}

#ai-board {
    display: grid;
    grid-template-columns: repeat(10, 3vmin);
    grid-template-rows: repeat(10, 3vmin);
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    background-color: black;
    padding: 1px;
    margin: 0;
}

#ai-board > div {
    background-color: lightskyblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 5vmin;
    
}

#ai-board > div:hover {
    background-color: lightblue !important;
    /* background: var(--div-bg-color); */
}

#player-board {
    display: grid;
    grid-template-columns: repeat(10, 4vmin);
    grid-template-rows: repeat(10, 4vmin);
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    background-color: black;
    padding: 1px;
    margin: 0;
}

#player-board > div {
    background: lightskyblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 10vmin;   
}

#player-board > div:hover {
    background: lightblue;
    /* background: var(--div-bg-color); */
}


button {
    margin-top: 1vmin;
    padding: 2vmin;
    font-size: 2vmin;
    border-radius: 2vmin;
    color: grey;
}

button:hover {
    color: white !important;
    background-color: blue;
}

#hard-mode:hover {
    background-color: red;
}


.triangle-up {
    box-sizing: border-box;
    /* width: 100%; */
    /* height: 100%; */
    position: relative;
    background-color: lightskyblue !important;
}
.triangle-up::before {
    content: "";
    display: block;
    /* width: 100%; */
    /* height: 0; */
}
.triangle-up::after {
    content: "";
    position: absolute;
    border: 1.5vmin solid transparent;
    border-top: 0;
    border-bottom: 3vmin solid #42423f;

}


.triangle-down {
    box-sizing: border-box;
    /* width: 100%; */
    /* height: 100%; */
    position: relative;
    background-color: lightskyblue !important;
}
.triangle-down::before {
    content: "";
    display: block;
    /* width: 100%; */
    /* height: 0; */
}
.triangle-down::after {
    content: "";
    position: absolute;
    border: 1.5vmin solid transparent;
    border-bottom: 0;
    border-top: 3vmin solid #42423f;

}


.triangle-left {
    box-sizing: border-box;
    /* width: 100%; */
    /* height: 100%; */
    position: relative;
    background-color: lightskyblue !important;
}
.triangle-left::before {
    content: "";
    display: block;
    /* width: 100%; */
    /* height: 0; */
}
.triangle-left::after {
    content: "";
    position: absolute;
    border: 1.5vmin solid transparent;
    border-left: 0;
    border-right: 3vmin solid #42423f;

}


.triangle-right {
    box-sizing: border-box;
    /* width: 100%; */
    /* height: 100%; */
    position: relative;
    background-color: lightskyblue !important;
}
.triangle-right::before {
    content: "";
    display: block;
    /* width: 100%; */
    /* height: 0; */
}
.triangle-right::after {
    content: "";
    position: absolute;
    border: 1.5vmin solid transparent;
    border-right: 0;
    border-left: 3vmin solid #42423f;

}