* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 30px;
    /* font-family: */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightskyblue;
}

#ai-board {
    display: grid;
    grid-template-columns: repeat(10, 3vmin);
    grid-template-rows: repeat(10, 3vmin);
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    background-color: black;
    padding: 1px;
    margin: 0;
}

#ai-board > div {
    background-color: lightskyblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 5vmin;
    
}

#ai-board > div:hover {
    background-color: lightblue !important;
    /* background: var(--div-bg-color); */
}


#player-board {
    display: grid;
    grid-template-columns: repeat(10, 4vmin);
    grid-template-rows: repeat(10, 4vmin);
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    background-color: black;
    padding: 1px;
    margin: 0;
}

#player-board > div {
    background: lightskyblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 10vmin;
    
}

#player-board > div:hover {
    background: lightblue;
    /* background: var(--div-bg-color); */
}


button {
    margin-top: 1vmin;
    padding: 2vmin;
    font-size: 2vmin;
    border-radius: 2vmin;
    color: grey;
}

button:hover {
    color: white;
    background-color: blue;
}